<div class="mt-4 mb-4">
    <div class="row">
        <div class="col-lg-3">
           <a href="/food" class="btn btn-primary">Xem thêm món mới</a>
        </div>
        <div class="col-lg-9">
            <h2>{{food.name}}</h2>
            <img src="{{food.image}}" alt="{{food.image}}">
            <h4>Giá tiền: {{food.price}} vnđ</h4>
            <h4>{{food.type}}</h4>
            <h5>Giới thiệu sơ lược về món {{food.name}}</h5>
            <p>{{food.description}}</p>
            <a href="#" class="btn btn-primary">Thêm vào Giỏ hàng</a>
        </div>
    </div>
</div>