
<table class="table table-striped mt-4">
  <div class="mt-4">
    <h4>Giỏ Hàng</h4>
    <div class="d-flex justify-content-between">
      <a href="/">Mua Món Mới</a>
    </div>
  </div>
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Món</th>
            <th scope="col">Loại Món Ăn</th>
            <th scope="col ">Ngày Mua</th>
            <th scope="col ">Dịch Vụ</th>
        </tr>
    </thead>
    <tbody>
        {{#each foods}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-food-modal">Xóa</a>
            </td>
        </tr>
        {{!-- Nếu ko có database thì chạy cái else --}}
        {{else}}
        <tr>
          <td colspan="5" class="text-center">Giỏ Hàng Trống <a href="/">Thêm món mới </a></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Modal Confirm Delete --}}

<div class="modal fade" id="delete-food-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa à ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thích thì xóa mà không thích thì xóa ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thôi không xóa đâu !</button>
        <button id="btn-delete-food" type="button" class="btn btn-danger">Xóa luôn ngại cc gì</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden Form Delete  --}}
<form name="delete-form-food" method="POST"></form>

<script>
    
</script>