
<table class="table table-striped mt-4">
  <div class="mt-4">
    <h4>Danh sách các món đã xóa</h4>
  </div>
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Món</th>
            <th scope="col">Loại Món Ăn</th>
            <th scope="col ">Ngày Xóa</th>
            <th scope="col ">Dịch Vụ</th>
        </tr>
    </thead>
    <tbody>
        {{#each foods}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.deletedAt}}</td>
            <td>
                <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi Phục</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-food-modal">Xóa vĩnh viễn</a>
            </td>
        </tr>
        {{!-- Nếu ko có database thì chạy cái else --}}
        {{else}}
        <tr>
          <td colspan="5" class="text-center">Thùng rác rỗng.  <a href="/me/list">Quay lại danh sách món đã đăng !</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Modal Confirm Delete --}}

<div class="modal fade" id="delete-food-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa thật à ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Mày có chắc là xóa vĩnh viễn không ? Nhập lại mệt lắm đó T_T
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thôi không xóa đâu !</button>
        <button id="btn-delete-food" type="button" class="btn btn-danger">Xóa luôn ngại cc gì</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden Form --}}
<form name="delete-form-food" method="POST"></form>
<form name="restore-form-food" method="POST"></form>

<script>
    {{!-- Cái addEventListener này dùng để load tất cả DOM sau đó mới thực hiện cái $ bên dưới --}}
    document.addEventListener('DOMContentLoaded',function(){
        var idDelete;
        var deleteForm = document.forms['delete-form-food']; // Thông tin của form với method là delete nhưng hiện tại là chỉ giống form bên trên
        var restoreForm = document.forms['restore-form-food'];
        var btnDeleteFood = document.getElementById('btn-delete-food'); // Lấy id của food cần xóa khi nhấn vào button "Xóa"
        var btnRestoreFood = $('.btn-restore'); // Lấy id của món muốn khôi phục
        $('#delete-food-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            idDelete = button.data('id');
        }) // Đoạn scrip lấy ra id trong boostrap modal
        btnDeleteFood.onclick = ()=>{
            deleteForm.action = '/food/force/' + idDelete + '?_method=DELETE'; // Từ form ta thêm thuộc tính action để có action cho API thực hiện
            deleteForm.submit(); // Sau đó thì submit cái form lên để thực hiện API
        }    
        
        btnRestoreFood.click(function(event){
          event.preventDefault();
          var idFoodRestore = $(this).data('id');
          restoreForm.action = '/food/restore/' + idFoodRestore + '?_method=PATCH'; // Từ form ta thêm thuộc tính action để có action cho API thực hiện
          restoreForm.submit(); // Sau đó thì submit cái form lên để thực hiện API
        })
    });
</script>